.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:active {
  transform: scale(0.9);
}
